*{
  margin:0;
}

.texto{
  color: #393939;
  font-family: "Droid Sans";
  margin-left: 0px;
  font-size: 30px;
}

#medium{
  width: 40px;
  margin-left: 140px;
}

.image{
  margin-left: 20px;
  height: 40px;
  margin-top: 10px;
}

span{
  margin-left: 20px;
}

.icon-search{
  margin-left: 770px;
}

div{
  width: 1000px;
  height: 500px;
  margin-left:280px;
}

header{
    width: 1300px;
}

p{
    font-family: "Roboto";
}

#description{
  color: #CED0D1;
  font-size: 11px;
  margin-left: 90px;
}

#name{
  color: #424242;
  font-size: 15px;
  margin-top: -60px;
  margin-left: 90px;
}

#belen{
  height: 70px;
}
